@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Open Sans", sans-serif;
}

/*------------  
ローディング画面
------------*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c19fa9;
  visibility: inherit;
  opacity: 1;
  transition: 0.7s;
}

#loader .spinner {
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  text-align: center;
  -webkit-animation: sk-rotate 1.4s infinite linear;
  animation: sk-rotate 1.4s infinite linear;
}

#loader .spinner .dot1,
#loader .spinner .dot2 {
  position: absolute;
  top: 0;
  width: 50%;
  height: 50%;
  display: inline-block;
  background: #decefd;
  opacity: 0.8;
  border-radius: 100%;
  -webkit-animation: sk-bounce 1.8s infinite ease-in-out;
  animation: sk-bounce 1.8s infinite ease-in-out;
}

#loader .spinner .dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

#loader.on {
  transform: scale(10);
  visibility: hidden;
  opacity: 0;
}

/*----------------------  
fadeInアニメーション
----------------------*/
.fadeIn {
  opacity: 0 !important;
  transform: translateY(300px) !important;
  transition: 1s;
}

.fadeIn.true {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.fadeIn_img {
  opacity: 0 !important;
  transform: translateY(400px) !important;
  transition: 1.5s;
}

.fadeIn_img.true {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.fadeIn_txt {
  opacity: 0 !important;
  transform: translateY(400px) !important;
  transition: 1.7s;
}

.fadeIn_txt.true {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.fadeIn_skill_img {
  opacity: 0 !important;
  transform: translateY(400px) !important;
  transition: 1.5s;
}

.fadeIn_skill_img.true {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.fadeIn_skill_txt {
  opacity: 0 !important;
  transform: translateY(400px) !important;
  transition: 1.7s;
}

.fadeIn_skill_txt.true {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.fadeIn_works_img {
  opacity: 0 !important;
  transform: translateY(400px) !important;
  transition: 1.5s;
}

.fadeIn_works_img.true {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.fadeIn_works_txt {
  opacity: 0 !important;
  transform: translateY(400px) !important;
  transition: 1.7s;
}

.fadeIn_works_txt.true {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
