body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/*------------  
ローディング画面
------------*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c19fa9;
  visibility: inherit;
  opacity: 1;
  transition: 0.7s;
  .spinner {
    position: relative;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    text-align: center;
    -webkit-animation: sk-rotate 1.4s infinite linear;
    animation: sk-rotate 1.4s infinite linear;
    .dot1,
    .dot2 {
      position: absolute;
      top: 0;
      width: 50%;
      height: 50%;
      display: inline-block;
      background: #decefd;
      opacity: 0.8;
      border-radius: 100%;
      -webkit-animation: sk-bounce 1.8s infinite ease-in-out;
      animation: sk-bounce 1.8s infinite ease-in-out;
    }
    .dot2 {
      top: auto;
      bottom: 0;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
    }
    @-webkit-keyframes sk-rotate {
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes sk-rotate {
      100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes sk-bounce {
      0%,
      100% {
        -webkit-transform: scale(0);
      }
      50% {
        -webkit-transform: scale(1);
      }
    }
    @keyframes sk-bounce {
      0%,
      100% {
        transform: scale(0);
        -webkit-transform: scale(0);
      }
      50% {
        transform: scale(1);
        -webkit-transform: scale(1);
      }
    }
  }
}
#loader.on {
  transform: scale(10);
  visibility: hidden;
  opacity: 0;
}
/*------------  
ナビゲーション
------------*/
#hdr_main {
  /*--top_hdr--*/
  .top_hdr {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    @media (max-width: 500px) {
      height: 40px;
    }
  }
  /*--bottom_hdr--*/
  .bottom_hdr {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 500px) {
      height: 40px;
    }
    /*--名前「KAIDZU KOUSUKE」--*/
    h1 {
      a {
        display: block;
        color: #decffd;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.2em;
        @media (max-width: 500px) {
          font-size: 16px;
        }
        &:hover {
          color: #decffd;
        }
      }
    }
  }
  /*--left_hdr--*/
  .left_hdr {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 12;
    padding: 20px 0 90px 0;
    max-width: 60px;
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    @media (max-width: 500px) {
      top: 40px;
      max-width: 40px;
      height: calc(100vh - 80px);
    }
    /*-- 　ハンバーガーメニュー --*/
    .hum_btn {
      position: relative;
      z-index: 2;
      padding: 18px;
      width: 60px;
      height: 60px;
      transition: 0.4s;
      @media (max-width: 500px) {
        width: 40px;
        height: 40px;
        padding: 11px;
      }
      &:hover {
        .in {
          div {
            border-radius: 50%;
            transform: scale(1.2);
            background: #decefd;
          }
        }
      }
      .in {
        position: relative;
        width: 100%;
        height: 100%;
        div {
          position: absolute;
          margin: auto;
          width: 5px;
          height: 5px;
          background: #decefd;
          transition: 0.5s;
          @media (max-width: 500px) {
            width: 3px;
            height: 3px;
          }
          &:nth-of-type(1) {
            top: 0;
            left: 0;
          }
          &:nth-of-type(2) {
            top: 0;
            left: 0;
            right: 0;
          }
          &:nth-of-type(3) {
            top: 0;
            right: 0;
          }
          &:nth-of-type(4) {
            top: 0;
            bottom: 0;
            left: 0;
          }
          &:nth-of-type(5) {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
          &:nth-of-type(6) {
            top: 0;
            bottom: 0;
            right: 0;
          }
          &:nth-of-type(7) {
            bottom: 0;
            left: 0;
          }
          &:nth-of-type(8) {
            bottom: 0;
            left: 0;
            right: 0;
          }
          &:nth-of-type(9) {
            bottom: 0;
            right: 0;
          }
        }
      }
    }
    /*----------------------  
    クリックしたらのhum_btnの動き
    ----------------------*/
    .hum_btn.on {
      transform: rotate(90deg);
      .in {
        transition: 0.3s;
        &:hover {
          transform: scale(1.1);
        }
        div.on {
          &:nth-of-type(1n) {
            background: #decefd;
            border-radius: 50%;
            transform: scale(-70%);
          }
          &:nth-of-type(2) {
            top: 20%;
            left: 39%;
          }
          &:nth-of-type(4) {
            bottom: 39%;
            left: 20%;
          }
          &:nth-of-type(6) {
            top: 39%;
            right: 20%;
          }
          &:nth-of-type(8) {
            bottom: 20%;
            right: 39%;
          }
        }
      }
    }
    nav {
      width: 100%;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 0;
        li {
          width: 100%;
          transition: 0.3s;
          a {
            display: flex;
            justify-content: center;
            &:hover {
              i {
                transform: scale(1.1);
                transform: translateY(-5px);
                color: #f7e5ff;
              }
            }
            i {
              font-size: 1.5em;
              color: #decefd;
              transition: 0.5s;
              @media (max-width: 500px) {
                font-size: 1.2em;
              }
            }
          }
        }
      }
    }
  }
  /*--right_hdr--*/
  .right_hdr {
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 10;
    max-width: 60px;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 500px) {
      top: 40px;
      max-width: 40px;
      height: calc(100vh - 80px);
    }
    h1 {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 600;
      color: #decffd;
      transform: rotate(90deg);
      @media (max-width: 500px) {
        font-size: 18px;
      }
    }
    /*--スクロールダウン--*/
    .scrolldown {
      position: absolute;
      bottom: 10px;
      /*全体の高さ*/
      height: 50px;
      /*Scrollテキストの描写*/
      span {
        /*描画位置*/
        position: absolute;
        left: -15px;
        top: -15px;
        /*テキストの形状*/
        color: #decefd;
        font-size: 0.7rem;
        font-weight: 600;
        letter-spacing: 0.05em;
        @media (max-width: 500px) {
          top: -40px;
          left: -4px;
          height: 100%;
          display: flex;
          align-items: center;
          writing-mode: vertical-rl;
        }
      }
      /* 線の描写 */
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 1px;
        height: 30px;
        background: #decefd;
        /*線の動き 永遠にループ*/
        animation: pathmove 1.4s ease-in-out infinite;
        opacity: 0;
        @media (max-width: 500px) {
          height: 15px;
        }
      }
    }
    /*高さ・位置・透過が変化して線が上から下に動く*/
    @keyframes pathmove {
      0% {
        height: 0;
        top: 0;
        opacity: 0;
      }
      30% {
        height: 30px;
        opacity: 1;
        @media (max-width: 500px) {
          height: 15px;
        }
      }
      100% {
        height: 0;
        top: 50px;
        opacity: 0;
      }
    }
  }
}
/*------------  
hum_nav
hum_btnをクリックしたら表示されるナビゲーションメニュー
------------*/
.hum_nav {
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 11;
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0.4;
  transition: 0.4s;
  @media (max-width: 769px) {
    top: 0;
    left: -100vw;
    width: 50vw;
    height: 100vh;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    z-index: 1;
    background: #000;
    opacity: 0.95;
    width: 100%;
    height: 100vh;
  }
  ul {
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 660px) {
      padding: 60px 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      a {
        position: relative;
        z-index: 2;
        display: block;
        padding: 60px 40px;
        text-align: center;
        color: #decefd;
        @media (max-width: 660px) {
          padding: 30px 20px;
          min-width: 320px;
          width: 100%;
        }
        &:hover {
          opacity: 0.1;
          transition: 0.3s;
          &::before {
            width: 100px;
            visibility: inherit;
          }
        }
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 0;
          height: 1px;
          content: "";
          display: block;
          background: #fff;
          visibility: hidden;
          transition: 0.3s;
        }
      }
    }
  }
}
/*----------------------  
クリックしたらのhum_navの動き
----------------------*/
.hum_nav.on {
  top: 0;
  height: 100vh;
  visibility: inherit;
  opacity: 1;
  @media (max-width: 769px) {
    left: 0;
    width: 100vw;
  }
}
/*------------
portforio_main
------------*/
#portfolio_main {
  width: 100%;
  margin: 0 auto;
  opacity: 0.2;
  transition: 0.7s;
  /*------------
  FV
  ------------*/
  #first_view_pc {
    position: sticky;
    top: 0;
    width: 100%;
    figure {
      position: relative;
      margin: 0 auto;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background: #000;
      @media (max-width: 769px) {
        display: none;
      }
      &::before {
        padding-top: 100%;
        content: "";
        display: block;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:nth-of-type(2) {
        display: none;
        @media (max-width: 769px) {
          display: block;
        }
      }
    }
  }
  /*------------
  コンテンツ
  ------------*/
  .cont {
    position: sticky;
    padding: 50px 60px;
    @media (max-width: 500px) {
      padding: 50px 40px;
    }
    /*------------
    profile
    ------------*/
    #cont_profile {
      margin: 0 auto 60px auto;
      padding: 30px 0;
      max-width: 1380px;
      width: 100%;
      height: auto;
      transition: 0.6s;
      @media (max-width: 450px) {
        margin-bottom: 30px;
      }
      section {
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
        .profile_img {
          position: relative;
          margin: 0 auto;
          height: 550px;
          width: 100%;
          @media (max-width: 450px) {
            height: 350px;
          }
          figure {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            &::before {
              padding-top: 100%;
              content: "";
              display: block;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          h1 {
            position: absolute;
            bottom: 50px;
            left: 0;
            right: 0;
            font-size: 24px;
            font-weight: bold;
            color: #decefd;
            text-align: center;
            @media (max-width: 600px) {
              bottom: 40px;
              font-size: 20px;
            }
          }
          .btn {
            position: absolute;
            bottom: -30px;
            left: 0;
            right: 0;
            z-index: 2;
            text-align: center;
            @media (max-width: 600px) {
              bottom: -25px;
            }
            i {
              margin: 0 auto;
              border-radius: 50%;
              padding: 20px;
              font-size: 20px;
              background: #decefd;
              color: #fff;
              text-align: center;
              transition: 0.5s;
              @media (max-width: 600px) {
                padding: 15px;
              }
              &:hover {
                background: #fff;
                color: #decefd;
                @media (max-width: 769px) {
                  background: #decefd;
                  color: #fff;
                }
              }
            }
          }
        }
        .profile_txt {
          margin: 0 auto;
          padding: 0 20px;
          width: 100%;
          height: 0;
          font-family: "Open Sans", sans-serif;
          background: #fff;
          visibility: hidden;
          overflow: hidden;
          transition: 0.6s;
          dl {
            margin: 0 auto;
            padding: 10px 40px;
            max-width: 500px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            @media (max-width: 600px) {
              padding: 10px;
            }
            dt {
              width: 100px;
              font-weight: bold;
              @media (max-width: 600px) {
                font-size: 14px;
              }
              @media (max-width: 450px) {
                width: 80px;
              }
              @media (max-width: 400px) {
                margin-bottom: 10px;
                max-width: 100%;
                text-align: center;
              }
            }
            dd {
              max-width: calc(100% - 100px);
              width: 100%;
              font-size: 20px;
              @media (max-width: 600px) {
                font-size: 16px;
              }
              @media (max-width: 450px) {
                max-width: calc(100% - 80px);
              }
              @media (max-width: 400px) {
                max-width: 100%;
                text-align: center;
              }
            }
            &:last-of-type {
              dt {
                margin-bottom: 15px;
                width: 100%;
              }
              dd {
                max-width: 100%;
                font-size: 16px;
                letter-spacing: 0.1em;
                line-height: 1.2em;
                text-align: left;
                @media (max-width: 600px) {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    /*----------------------  
    クリックしたらの#cont_profileの動き
    ----------------------*/
    #cont_profile.on {
      transform: translateY(-20px);
      i.on {
        transform: rotate(45deg);
      }
      .profile_txt.on {
        padding: 50px 20px 30px 20px;
        height: auto;
        visibility: inherit;
        @media (max-width: 600px) {
          padding: 30px 20px 20px 20px;
        }
      }
    }
    /*----------------------  
    スキル skill
    ----------------------*/
    #cont_skill {
      position: relative;
      margin: 0 auto 70px auto;
      padding: 20px 110px;
      max-width: 1380px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1180px) {
        padding: 30px 20px;
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.7;
      }
      section {
        margin: 0 35px;
        padding: 30px;
        max-width: 280px;
        width: 100%;
        @media (max-width: 1390px) {
          margin: 0 auto;
        }
        @media (max-width: 1180px) {
          padding: 20px;
          max-width: 250px;
        }
        @media (max-width: 660px) {
          max-width: 200px;
          margin-bottom: 20px;
        }
        .skill_img {
          margin: 0 auto 20px auto;
          padding: 0 40px;
          width: 100%;
          @media (max-width: 560px) {
            padding: 0 20px;
            margin-bottom: 10px;
          }
          figure {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            &::before {
              padding-top: 100%;
              content: "";
              display: block;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        .skill_txt {
          position: relative;
          z-index: 2;
          margin: 0 auto;
          padding: 10px;
          max-width: 200px;
          width: 100%;
          font-family: "Open Sans", sans-serif;
          @media (max-width: 660px) {
            max-width: 150px;
          }
          @media (max-width: 560px) {
            padding: 10px 0;
            max-width: 130px;
          }
          &::before {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.8;
          }
          h1 {
            position: relative;
            z-index: 2;
            text-align: center;
            margin: 0 auto;
            width: 100%;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            @media (max-width: 660px) {
              font-size: 16px;
            }
            @media (max-width: 560px) {
              font-size: 14px;
            }
          }
        }
      }
    }
    /*------------
    concept
    ------------*/
    #cont_concept {
      margin: 0 auto 70px auto;
      padding: 30px 20px;
      max-width: 1380px;
      width: 100%;
      background: #fff;
      @media (max-width: 480px) {
        padding: 10px;
      }
      section {
        margin: 0 auto 50px auto;
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 970px) {
          margin-bottom: 30px;
        }
        @media (max-width: 830px) {
          margin-bottom: 10px;
        }
        @media (max-width: 540px) {
          padding: 20px 5px;
        }
        &:nth-of-type(2n) {
          .concept_txt {
            order: 2;
          }
          .concept_img {
            order: 1;
          }
        }
        &:last-of-type {
          margin-bottom: 0;
        }
        .concept_txt {
          // background: #fff;
          width: 55%;
          @media (max-width: 830px) {
            margin: 0 auto;
            max-width: 500px;
            width: 100%;
          }
          .ttl {
            width: 100%;
            h1 {
              font-size: 130px;
              font-weight: bold;
              line-height: 0.8em;
              @media (max-width: 970px) {
                font-size: 100px;
              }
              @media (max-width: 540px) {
                font-size: 90px;
              }
              @media (max-width: 480px) {
                font-size: 80px;
                // line-height: .7em;
              }
              span {
                display: block;
                width: 100%;
                font-size: 32px;
                @media (max-width: 970px) {
                  font-size: 26px;
                }
                @media (max-width: 540px) {
                  font-size: 22px;
                }
                @media (max-width: 480px) {
                  font-size: 18px;
                }
              }
            }
          }
          .txt {
            padding: 20px 0;
            @media (max-width: 830px) {
              padding: 5px 0 20px 0;
            }
            @media (max-width: 830px) {
              padding: 0 0 0 0;
            }
            p {
              font-size: 18px;
              line-height: 1.5em;
              letter-spacing: 0.1em;
              font-weight: bold;
              @media (max-width: 970px) {
                font-size: 16px;
              }
              @media (max-width: 540px) {
                font-size: 14px;
              }
              @media (max-width: 480px) {
                font-weight: 300;
              }
            }
          }
        }
        .concept_img {
          width: 40%;
          @media (max-width: 830px) {
            display: none;
          }
          figure {
            position: relative;
            width: 100%;
            height: 100%;
            &::before {
              padding-top: 100%;
              content: "";
              display: block;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    /*----------------------  
    works
    ----------------------*/
    #cont_works {
      position: relative;
      z-index: 2;
      margin: 0 auto;
      padding: 30px 20px 0 20px;
      max-width: 1380px;
      width: 100%;
      background: #fff;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      @media (max-width: 600px) {
        padding: 30px 10px 0 10px;
      }
      section {
        padding: 30px 20px;
        max-width: 1260px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px 20px;
        @media (max-width: 900px) {
          padding: 20px;
          flex-wrap: wrap;
        }
        @media (max-width: 600px) {
          padding: 10px;
          gap: 10px 0;
        }
        .works_img {
          max-width: 470px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 40px;
          transition: 0.5s;
          @media (max-width: 900px) {
            margin-bottom: 30px;
          }
          @media (max-width: 600px) {
            margin-bottom: 10px;
          }
          &:hover {
            transform: translateY(-20px);
            opacity: .6;
          }
          figure {
            position: relative;
            width: 100%;
            height: auto;
            overflow: hidden;
            &::before {
              padding-top: 100%;
              content: "";
              display: block;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .works_img.on{
          transform: translateY(-25px);
          opacity: .6;
        }
        .works_txt {
          padding: 0 40px;
          max-width: 420px;
          width: 100%;
          text-align: center;
          @media (max-width: 600px) {
            padding: 0 10px;
          }
          .ttl {
            margin-bottom: 42px;
            width: 100%;
            h1 {
              margin-bottom: 10px;
              font-size: 32px;
              font-weight: 600;
              @media (max-width: 600px) {
                font-size: 26px;
              }
            }
            a {
              position: relative;
              margin-left: 24px;
              font-size: 14px;
              color: #000;
              border-bottom: 1px solid #111;
              transition: 0.3s;
              &:hover {
                color: #ccc;
                border-bottom: 1px solid #ccc;
              }
              // 430pxまで表示
              &:nth-of-type(1){
                @media (max-width: 600px) {
                  margin-left: 18px;
                }
                @media (max-width: 430px) {
                  display: none;
                }
                &::before {
                  position: absolute;
                  top: 0;
                  left: 0;
                  margin: 3px 32px 0 -24px;
                  font-size: 14px;
                  font-family: "Font Awesome 5 Free";
                  content: "\f038";
                  font-weight: 900;
                  transform: rotate(90deg);
                }
              }
              // 430pxから表示
              &:nth-of-type(2){
                display: none;
                margin: 0 auto;
                &::before {
                  position: absolute;
                  top: 0;
                  left: 0;
                  margin: 2px 32px 0 -24px;
                  font-size: 14px;
                  font-family: "Font Awesome 5 Free";
                  content: "\f101";
                  font-weight: 900;
                }
                @media (max-width: 430px) {
                  display: inline-block;
                }
              }
            }
          }
          .skill {
            margin: 0 auto 30px auto;
            max-width: 300px;
            width: 100%;
            h2 {
              margin-bottom: 10px;
              font-size: 18px;
              font-weight: 600;
              @media (max-width: 600px) {
                font-size: 16px;
              }
            }
            p {
              width: 100%;
              font-size: 14px;
              letter-spacing: 0.1em;
              line-height: 1.2em;
            }
          }
          .ingenuity {
            margin: 0 auto 30px auto;
            max-width: 300px;
            h2 {
              margin-bottom: 10px;
              width: 100%;
              font-size: 18px;
              font-weight: 600;
              @media (max-width: 600px) {
                font-size: 16px;
              }
            }
            p {
              position: relative;
              margin-left: 18px;
              width: 100%;
              font-size: 14px;
              letter-spacing: 0.1em;
              line-height: 1.2em;
              text-align: start;
              @media (max-width: 600px) {
                margin-left: 10px;
              }
              &::before {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0 16px 0 -20px;
                font-family: "Font Awesome 5 Free";
                content: "\f00c";
                font-weight: 900;
                font-size: 12px;
                color: #000;
                transition: 0.5s;
              }
            }
          }
          .time_required {
            margin: 0 auto 30px auto;
            max-width: 300px;
            h2 {
              margin-bottom: 10px;
              width: 100%;
              font-size: 18px;
              font-weight: 600;
            }
            p {
              width: 100%;
              font-size: 14px;
              letter-spacing: 0.1em;
              line-height: 1.2em;
            }
          }
        }
      }
    }
  }
}
#portfolio_main.on {
  opacity: 1;
}

//アニメーション
/*----------------------  
fadeInを付与する
----------------------*/
.fadeIn {
  opacity: 0 !important;
  transition: 1s;
  transform: translateY(300px) !important;
}
.fadeIn.true {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.fadeIn_img {
  opacity: 0 !important;
  transition: 1.5s;
  transform: translateY(400px) !important;
}
.fadeIn_img.true {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
