/*------------  
portfolio_home
------------*/
body{
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
#hdr_main{
    /*--top_hdr--*/
    .top_hdr{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 50px;
        // background: #fff;
    }
    /*--bottom_hdr--*/
    .bottom_hdr{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        // background: #fff;
        /*--名前「KAIDZU KOUSUKE」--*/
        h1{
            a{
                display: block;
                color: #5851cb;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: .1em;
            }
        }
    }
    /*--left_hdr--*/
    .left_hdr{
        position: fixed;
        top: 50px;
        left: 0;
        z-index: 12;
        padding: 20px 0 90px 0;
        height: calc(100vh - 100px);
        max-width: 60px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        // background: #fff;
        /*-- 　ハンバーガーメニュー --*/
        .hum_btn{
            position: relative;
            z-index: 2;
            padding: 18px;
            width: 60px;
            height: 60px;
            transition: .4s;
            &:hover{
                .in{
                    div{
                    border-radius: 50%;
                    transform: scale(1.2);
                    background:#decefd;
                    }
                }
            }
            .in{
                position: relative;
                width: 100%;
                height: 100%;
                div{
                    position: absolute;
                    margin: auto;
                    width: 5px;
                    height: 5px;
                    background: #5851cb;
                    transition: .5s;
                    &:nth-of-type(1){
                        top: 0;
                        left: 0;
                    }
                    &:nth-of-type(2){
                        top: 0;
                        left: 0;
                        right: 0;
                    }
                    &:nth-of-type(3){
                        top: 0;
                        right: 0;
                    }
                    &:nth-of-type(4){
                        top: 0;
                        bottom: 0;
                        left: 0;
                    }
                    &:nth-of-type(5){
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                    &:nth-of-type(6){
                        top: 0;
                        bottom: 0;
                        right: 0;
                    }
                    &:nth-of-type(7){
                        bottom: 0;
                        left: 0;
                    }
                    &:nth-of-type(8){
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                    &:nth-of-type(9){
                        bottom: 0;
                        right: 0;
                    }
                }
            }
            
        }
        nav{
            width: 100%;
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 30px 0;
                li{
                    width: 100%;
                    a{
                        display: flex;
                        justify-content: center;
                        &:hover{
                            i{
                                transform: scale(1.1);
                                transform: translateY(-5px);
                                color: #decefd;
                            }
                        }
                        i{
                            font-size: 1.5em;
                            color: #5851cb;
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }
    /*--right_hdr--*/
    .right_hdr{
        position: fixed;
        top: 50px;
        right: 0;
        z-index: 10;
        max-width: 60px;
        width: 100%;
        height: calc(100vh - 100px);
        // background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 600;
            color: #5851cb;
            transform: rotate(90deg);
        }
        /*--スクロールダウン--*/
        .scrolldown{
            position:absolute;
            bottom: 10px;
            /*全体の高さ*/
            height: 50px;
            /*Scrollテキストの描写*/
            span{
                /*描画位置*/
                position: absolute;
                left:-15px;
                top: -15px;
                /*テキストの形状*/
                color: #5851cb;
                font-size: 0.7rem;
                font-weight: 600;
                letter-spacing: 0.05em;
            }
            /* 線の描写 */
            &::after{
                content: "";
                position: absolute;
                top: 0;
                width: 1px;
                height: 30px;
                background: #5851cb;
                /*線の動き1.4秒かけて動く。永遠にループ*/
                animation: pathmove 1.4s ease-in-out infinite;
                opacity: 0;
            }
        }
        /*高さ・位置・透過が変化して線が上から下に動く*/
        @keyframes pathmove{
            0%{
                height: 0;
                top: 0;
                opacity: 0;
            }
            30%{
                height: 30px;
                opacity: 1;
            }
            100%{
                height: 0;
                top: 50px;
                opacity: 0;
            }
        }
    }
}
/*------------  
hum_nav
hum_btnをクリックしたら表示されるナビゲーションメニュー
------------*/
.hum_nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        z-index: 1;
        background: #000;
        opacity: .95;
        width: 100%;
        height: 100vh;
    }
    ul{
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li{
            a{
                position: relative;
                z-index: 2;
                display: block;
                padding: 60px 40px;
                height: 100%;
                color: #decefd;
                &:hover{
                    opacity: .1;
                    transition: .3s;
                    &::before{
                        width: 100px;
                        visibility: inherit;
                    }
                }
                &::before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 0;
                    height: 1px;
                    content: "";
                    display: block;
                    background: #fff;
                    visibility: hidden;
                    transition: .3s;
                }
            }
        }
    }
}

#portfolio_main{
    width: 100%;
    margin: 0 auto;
    background: red;
    .top_view{
        position: sticky;
        top: 0;/*header高さ分で止まるようにする*/
        // padding: 50px;/*画面の高さを持たすための上下余白*/
        width: 100%;
        // background: #000;
        figure{
            position: relative;
            margin: 0 auto;
            width: 100%;
            height: 100vh;/*あとで100vhに変更*/
            overflow: hidden;
            background: #000;
            &::before{
                padding-top: 100%;
                content: "";
                display: block;
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .cont{
        position: sticky;
        // top: 50px;
        background: red;
        // padding: 50px 50px 100vh 50px;
        .cont_concept{
            // position: sticky;
            // top: 50px;
            margin: 0 auto;
            padding: 50px 80px 400px 80px;
            max-width: 1380px;
            width: 100%;
            background: #fff;
            section{
                display: flex;
                justify-content: center;
                gap: 0 40px;
                .concept_ttl{
                    width: 39%;
                    h1{
                        margin-bottom: 20px;
                        width: 100%;
                        font-size: 120px;
                        font-weight: 600;
                    }
                    h2{
                        width: 100%;
                        font-size: 24px;
                        font-weight: 600;
                    }
                }
                .concept_img{
                    width: 39%;
                    figure{
                        position: relative;
                        width: 100%;
                        height: auto;
                        border-radius: 50%;
                        overflow: hidden;
                        &::before{
                            padding-top: 100%;
                            content: "";
                            display: block;
                        }
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
    .cont1{
        position: sticky;
        top: 50px;/*Header高さ分で止まるようにする*/
        padding: 500px 60px;/*デモ画面の高さを持たすための上下余白*/
        background: #cefdfd;
        &:nth-of-type(2n){
            background: green;
        }
        &:last-of-type{
            padding-top: 60px;
        }
    }
}


//ここからアニメーション
/*----------------------  
クリックしたらのhum_btnの動き
----------------------*/
.hum_btn.on{
    transform: rotate(90deg);
    .in{
        div.on{
            &:nth-of-type(1n){
                background: #decefd!important;
                border-radius: 50%;
                transform: scale(-70%)!important;
                // transform: scale(1.2);
            }
            // &:nth-of-type(2n){
            //     opacity: 0;
            // }
            &:nth-of-type(2){
                // background: red!important;
                top: 20%!important;
                left: 39%!important;
            }
            &:nth-of-type(4){
                bottom: 39%!important;
                left: 20%!important;
            }
            &:nth-of-type(6){
                // background: blue!important;
                top: 39%!important;
                right: 20%!important;
            }
            &:nth-of-type(8){
                // background: yellow!important;
                bottom: 20%!important;
                right: 39%!important;
            }
        }
    }
}
/*----------------------  
クリックしたらのhum_navの動き
----------------------*/
.hum_nav.on{
    visibility: inherit;
    opacity: 1;
}
