@charset "UTF-8";
/*------------  
portfolio_home
------------*/
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

#hdr_main {
  /*--top_hdr--*/
  /*--bottom_hdr--*/
  /*--left_hdr--*/
  /*--right_hdr--*/
}

#hdr_main .top_hdr {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
}

#hdr_main .bottom_hdr {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*--名前「KAIDZU KOUSUKE」--*/
}

#hdr_main .bottom_hdr h1 a {
  display: block;
  color: #decffd;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .1em;
}

#hdr_main .bottom_hdr h1 a:hover {
  color: #decffd;
}

#hdr_main .left_hdr {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 12;
  padding: 20px 0 90px 0;
  height: calc(100vh - 100px);
  max-width: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /*-- 　ハンバーガーメニュー --*/
}

#hdr_main .left_hdr .hum_btn {
  position: relative;
  z-index: 2;
  padding: 18px;
  width: 60px;
  height: 60px;
  transition: .4s;
}

#hdr_main .left_hdr .hum_btn:hover .in div {
  border-radius: 50%;
  transform: scale(1.2);
  background: #decefd;
}

#hdr_main .left_hdr .hum_btn .in {
  position: relative;
  width: 100%;
  height: 100%;
}

#hdr_main .left_hdr .hum_btn .in div {
  position: absolute;
  margin: auto;
  width: 5px;
  height: 5px;
  background: #decefd;
  transition: .5s;
}

#hdr_main .left_hdr .hum_btn .in div:nth-of-type(1) {
  top: 0;
  left: 0;
}

#hdr_main .left_hdr .hum_btn .in div:nth-of-type(2) {
  top: 0;
  left: 0;
  right: 0;
}

#hdr_main .left_hdr .hum_btn .in div:nth-of-type(3) {
  top: 0;
  right: 0;
}

#hdr_main .left_hdr .hum_btn .in div:nth-of-type(4) {
  top: 0;
  bottom: 0;
  left: 0;
}

#hdr_main .left_hdr .hum_btn .in div:nth-of-type(5) {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#hdr_main .left_hdr .hum_btn .in div:nth-of-type(6) {
  top: 0;
  bottom: 0;
  right: 0;
}

#hdr_main .left_hdr .hum_btn .in div:nth-of-type(7) {
  bottom: 0;
  left: 0;
}

#hdr_main .left_hdr .hum_btn .in div:nth-of-type(8) {
  bottom: 0;
  left: 0;
  right: 0;
}

#hdr_main .left_hdr .hum_btn .in div:nth-of-type(9) {
  bottom: 0;
  right: 0;
}

#hdr_main .left_hdr nav {
  width: 100%;
}

#hdr_main .left_hdr nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 0;
}

#hdr_main .left_hdr nav ul li {
  width: 100%;
  transition: .3s;
}

#hdr_main .left_hdr nav ul li a {
  display: flex;
  justify-content: center;
}

#hdr_main .left_hdr nav ul li a:hover i {
  transform: scale(1.1);
  transform: translateY(-5px);
  color: #f7e5ff;
}

#hdr_main .left_hdr nav ul li a i {
  font-size: 1.5em;
  color: #decefd;
  transition: .5s;
}

#hdr_main .right_hdr {
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 10;
  max-width: 60px;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  /*--スクロールダウン--*/
  /*高さ・位置・透過が変化して線が上から下に動く*/
}

#hdr_main .right_hdr h1 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #decffd;
  transform: rotate(90deg);
}

#hdr_main .right_hdr .scrolldown {
  position: absolute;
  bottom: 10px;
  /*全体の高さ*/
  height: 50px;
  /*Scrollテキストの描写*/
  /* 線の描写 */
}

#hdr_main .right_hdr .scrolldown span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  top: -15px;
  /*テキストの形状*/
  color: #decefd;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

#hdr_main .right_hdr .scrolldown::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #decefd;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

/*------------  
hum_nav
hum_btnをクリックしたら表示されるナビゲーションメニュー
------------*/
.hum_nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
}

.hum_nav::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  z-index: 1;
  background: #000;
  opacity: .95;
  width: 100%;
  height: 100vh;
}

.hum_nav ul {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 660px) {
  .hum_nav ul {
    padding: 60px 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.hum_nav ul li a {
  position: relative;
  z-index: 2;
  display: block;
  padding: 60px 40px;
  text-align: center;
  color: #decefd;
}

@media (max-width: 660px) {
  .hum_nav ul li a {
    min-width: 480px;
    width: 100%;
  }
}

.hum_nav ul li a:hover {
  opacity: .1;
  transition: .3s;
}

.hum_nav ul li a:hover::before {
  width: 100px;
  visibility: inherit;
}

.hum_nav ul li a::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 1px;
  content: "";
  display: block;
  background: #fff;
  visibility: hidden;
  transition: .3s;
}

#portfolio_main {
  width: 100%;
  margin: 0 auto;
}

#portfolio_main #first_view {
  position: sticky;
  top: 0;
  /*header高さ分で止まるようにする*/
  width: 100%;
}

#portfolio_main #first_view figure {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  /*あとで100vhに変更*/
  overflow: hidden;
  background: #000;
}

#portfolio_main #first_view figure::before {
  padding-top: 100%;
  content: "";
  display: block;
}

#portfolio_main #first_view figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#portfolio_main .cont {
  position: sticky;
  padding: 50px 60px 50px 60px;
  /*------------
        profile
        ------------*/
  /*----------------------  
        スキル skill
        ----------------------*/
  /*------------
        concept
        ------------*/
  /*----------------------  
        制作物 WOERKS
        ----------------------*/
}

#portfolio_main .cont #cont_profile {
  margin: 0 auto 10px auto;
  padding: 30px 20px;
  max-width: 1380px;
  width: 100%;
}

#portfolio_main .cont #cont_profile section {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

#portfolio_main .cont #cont_profile section .profile_img {
  margin: 0 auto 0 auto;
  max-width: 700px;
  width: 100%;
}

#portfolio_main .cont #cont_profile section .profile_img figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#portfolio_main .cont #cont_profile section .profile_img figure::before {
  padding-top: 70%;
  content: "";
  display: block;
}

#portfolio_main .cont #cont_profile section .profile_img figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#portfolio_main .cont #cont_profile section .profile_txt {
  position: relative;
  margin: 0 auto;
  padding: 50px 20px 50px 50px;
  max-width: 700px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

#portfolio_main .cont #cont_profile section .profile_txt::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
}

#portfolio_main .cont #cont_profile section .profile_txt h1 {
  position: relative;
  margin: 0 0 30px 60px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

#portfolio_main .cont #cont_profile section .profile_txt h1::before {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 60px 0 -60px;
  font-family: "Font Awesome 5 Free";
  content: "\f2bb";
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  transition: .5s;
}

#portfolio_main .cont #cont_profile section .profile_txt p {
  position: relative;
  margin: 0 0 30px 60px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
  color: #fff;
}

#portfolio_main .cont #cont_profile section .profile_txt p::before {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 54px 0 -53px;
  font-family: "Font Awesome 5 Free";
  content: "\f183";
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  transition: .5s;
}

#portfolio_main .cont #cont_profile section .profile_txt p:nth-of-type(2)::before {
  margin: 4px 58px 0 -58px;
  content: "\f1fd";
}

#portfolio_main .cont #cont_profile section .profile_txt p:nth-of-type(3)::before {
  margin: 0 60px 0 -60px;
  content: "\f015";
}

#portfolio_main .cont #cont_profile section .profile_txt h2 {
  position: relative;
  margin-left: 60px;
  max-width: 520px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  letter-spacing: .1em;
  line-height: 1.5em;
}

#portfolio_main .cont #cont_profile section .profile_txt h2::before {
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px 58px 0 -58px;
  font-family: "Font Awesome 5 Free";
  content: "\f27a";
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}

#portfolio_main .cont #cont_skill {
  position: relative;
  margin: 0 auto 70px auto;
  padding: 20px 110px;
  max-width: 1380px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1180px) {
  #portfolio_main .cont #cont_skill {
    padding: 30px 20px;
  }
}

#portfolio_main .cont #cont_skill::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .7;
}

#portfolio_main .cont #cont_skill section {
  margin: 0 auto;
  padding: 30px;
  max-width: 280px;
  width: 100%;
}

@media (max-width: 1180px) {
  #portfolio_main .cont #cont_skill section {
    padding: 20px;
    max-width: 250px;
  }
}

@media (max-width: 660px) {
  #portfolio_main .cont #cont_skill section {
    max-width: 200px;
    margin-bottom: 20px;
  }
}

#portfolio_main .cont #cont_skill section .skill_img {
  margin: 0 auto 20px auto;
  padding: 0 40px;
  width: 100%;
}

@media (max-width: 560px) {
  #portfolio_main .cont #cont_skill section .skill_img {
    padding: 0 20px;
    margin-bottom: 10px;
  }
}

#portfolio_main .cont #cont_skill section .skill_img figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#portfolio_main .cont #cont_skill section .skill_img figure::before {
  padding-top: 100%;
  content: "";
  display: block;
}

#portfolio_main .cont #cont_skill section .skill_img figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#portfolio_main .cont #cont_skill section .skill_txt {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 10px;
  max-width: 200px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 660px) {
  #portfolio_main .cont #cont_skill section .skill_txt {
    max-width: 150px;
  }
}

@media (max-width: 560px) {
  #portfolio_main .cont #cont_skill section .skill_txt {
    padding: 10px 0;
    max-width: 130px;
  }
}

#portfolio_main .cont #cont_skill section .skill_txt::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
}

#portfolio_main .cont #cont_skill section .skill_txt h1 {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

@media (max-width: 660px) {
  #portfolio_main .cont #cont_skill section .skill_txt h1 {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  #portfolio_main .cont #cont_skill section .skill_txt h1 {
    font-size: 14px;
  }
}

#portfolio_main .cont #cont_concept {
  margin: 0 auto 70px auto;
  padding: 30px 20px;
  max-width: 1380px;
  width: 100%;
  background: #fff;
}

@media (max-width: 480px) {
  #portfolio_main .cont #cont_concept {
    padding: 10px;
  }
}

#portfolio_main .cont #cont_concept section {
  margin: 0 auto 50px auto;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 970px) {
  #portfolio_main .cont #cont_concept section {
    margin-bottom: 30px;
  }
}

@media (max-width: 830px) {
  #portfolio_main .cont #cont_concept section {
    margin-bottom: 10px;
  }
}

@media (max-width: 540px) {
  #portfolio_main .cont #cont_concept section {
    padding: 20px 5px;
  }
}

#portfolio_main .cont #cont_concept section:nth-of-type(2n) .concept_txt {
  order: 2;
}

#portfolio_main .cont #cont_concept section:nth-of-type(2n) .concept_img {
  order: 1;
}

#portfolio_main .cont #cont_concept section:last-of-type {
  margin-bottom: 0;
}

#portfolio_main .cont #cont_concept section .concept_txt {
  width: 55%;
}

@media (max-width: 830px) {
  #portfolio_main .cont #cont_concept section .concept_txt {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }
}

#portfolio_main .cont #cont_concept section .concept_txt .ttl {
  width: 100%;
}

#portfolio_main .cont #cont_concept section .concept_txt .ttl h1 {
  font-size: 130px;
  font-weight: bold;
  line-height: .8em;
}

@media (max-width: 970px) {
  #portfolio_main .cont #cont_concept section .concept_txt .ttl h1 {
    font-size: 100px;
  }
}

@media (max-width: 540px) {
  #portfolio_main .cont #cont_concept section .concept_txt .ttl h1 {
    font-size: 90px;
  }
}

@media (max-width: 480px) {
  #portfolio_main .cont #cont_concept section .concept_txt .ttl h1 {
    font-size: 80px;
  }
}

#portfolio_main .cont #cont_concept section .concept_txt .ttl h1 span {
  display: block;
  width: 100%;
  font-size: 32px;
}

@media (max-width: 970px) {
  #portfolio_main .cont #cont_concept section .concept_txt .ttl h1 span {
    font-size: 26px;
  }
}

@media (max-width: 540px) {
  #portfolio_main .cont #cont_concept section .concept_txt .ttl h1 span {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  #portfolio_main .cont #cont_concept section .concept_txt .ttl h1 span {
    font-size: 18px;
  }
}

#portfolio_main .cont #cont_concept section .concept_txt .txt {
  padding: 20px 0;
}

@media (max-width: 830px) {
  #portfolio_main .cont #cont_concept section .concept_txt .txt {
    padding: 5px 0 20px 0;
  }
}

@media (max-width: 830px) {
  #portfolio_main .cont #cont_concept section .concept_txt .txt {
    padding: 0 0 0 0;
  }
}

#portfolio_main .cont #cont_concept section .concept_txt .txt p {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: .1em;
  font-weight: bold;
}

@media (max-width: 970px) {
  #portfolio_main .cont #cont_concept section .concept_txt .txt p {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  #portfolio_main .cont #cont_concept section .concept_txt .txt p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  #portfolio_main .cont #cont_concept section .concept_txt .txt p {
    font-weight: 300;
  }
}

#portfolio_main .cont #cont_concept section .concept_img {
  width: 40%;
}

@media (max-width: 830px) {
  #portfolio_main .cont #cont_concept section .concept_img {
    display: none;
  }
}

#portfolio_main .cont #cont_concept section .concept_img figure {
  position: relative;
  width: 100%;
  height: 100%;
}

#portfolio_main .cont #cont_concept section .concept_img figure::before {
  padding-top: 100%;
  content: "";
  display: block;
}

#portfolio_main .cont #cont_concept section .concept_img figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#portfolio_main .cont #cont_works {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 30px 20px;
  max-width: 1380px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

#portfolio_main .cont #cont_works section {
  padding: 30px 20px;
  max-width: 1260px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px 20px;
}

@media (max-width: 900px) {
  #portfolio_main .cont #cont_works section {
    padding: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  #portfolio_main .cont #cont_works section {
    gap: 10px 0;
  }
}

#portfolio_main .cont #cont_works section .works_img {
  max-width: 470px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  transition: .5s;
}

@media (max-width: 900px) {
  #portfolio_main .cont #cont_works section .works_img {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  #portfolio_main .cont #cont_works section .works_img {
    margin-bottom: 10px;
  }
}

#portfolio_main .cont #cont_works section .works_img:hover {
  transform: translateY(-10px);
}

#portfolio_main .cont #cont_works section .works_img figure {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#portfolio_main .cont #cont_works section .works_img figure::before {
  padding-top: 100%;
  content: "";
  display: block;
}

#portfolio_main .cont #cont_works section .works_img figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#portfolio_main .cont #cont_works section .works_txt {
  padding: 0 40px;
  max-width: 420px;
  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {
  #portfolio_main .cont #cont_works section .works_txt {
    padding: 0 10px;
  }
}

#portfolio_main .cont #cont_works section .works_txt .ttl {
  margin-bottom: 40px;
  width: 100%;
}

#portfolio_main .cont #cont_works section .works_txt .ttl h1 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
}

#portfolio_main .cont #cont_works section .works_txt .ttl a {
  position: relative;
  margin-left: 24px;
  font-size: 14px;
  color: #000;
  border-bottom: 1px solid #111;
  transition: .3s;
}

#portfolio_main .cont #cont_works section .works_txt .ttl a:hover {
  color: #aaa;
  border-bottom: 1px solid #aaa;
}

#portfolio_main .cont #cont_works section .works_txt .ttl a::before {
  position: absolute;
  top: 0;
  left: 0;
  margin: 3px 32px 0 -24px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  content: "\f038";
  font-weight: 900;
  transform: rotate(90deg);
}

#portfolio_main .cont #cont_works section .works_txt .skill {
  margin: 0 auto 30px auto;
  max-width: 300px;
  width: 100%;
}

#portfolio_main .cont #cont_works section .works_txt .skill h2 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

#portfolio_main .cont #cont_works section .works_txt .skill p {
  width: 100%;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 1.2em;
}

#portfolio_main .cont #cont_works section .works_txt .ingenuity {
  margin: 0 auto 30px auto;
  max-width: 300px;
}

#portfolio_main .cont #cont_works section .works_txt .ingenuity h2 {
  margin-bottom: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

#portfolio_main .cont #cont_works section .works_txt .ingenuity p {
  position: relative;
  margin-left: 18px;
  width: 100%;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 1.2em;
  text-align: start;
}

#portfolio_main .cont #cont_works section .works_txt .ingenuity p::before {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 16px 0 -20px;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 12px;
  color: #000;
  transition: .5s;
}

#portfolio_main .cont #cont_works section .works_txt .time_required {
  margin: 0 auto 30px auto;
  max-width: 300px;
}

#portfolio_main .cont #cont_works section .works_txt .time_required h2 {
  margin-bottom: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

#portfolio_main .cont #cont_works section .works_txt .time_required p {
  width: 100%;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 1.2em;
}

#portfolio_main .cont1 {
  position: sticky;
  top: 50px;
  /*Header高さ分で止まるようにする*/
  padding: 500px 60px;
  /*デモ画面の高さを持たすための上下余白*/
  background: #cefdfd;
  opacity: .9;
}

#portfolio_main .cont1:nth-of-type(2n) {
  background: green;
}

#portfolio_main .cont1:last-of-type {
  padding-top: 60px;
}

/*----------------------  
クリックしたらのhum_btnの動き
----------------------*/
.hum_btn.on {
  transform: rotate(90deg);
}

.hum_btn.on .in {
  transition: .3s;
}

.hum_btn.on .in:hover {
  transform: scale(1.1);
}

.hum_btn.on .in div.on:nth-of-type(1n) {
  background: #decefd !important;
  border-radius: 50%;
  transform: scale(-70%) !important;
}

.hum_btn.on .in div.on:nth-of-type(2) {
  top: 20% !important;
  left: 39% !important;
}

.hum_btn.on .in div.on:nth-of-type(4) {
  bottom: 39% !important;
  left: 20% !important;
}

.hum_btn.on .in div.on:nth-of-type(6) {
  top: 39% !important;
  right: 20% !important;
}

.hum_btn.on .in div.on:nth-of-type(8) {
  bottom: 20% !important;
  right: 39% !important;
}

/*----------------------  
クリックしたらのhum_navの動き
----------------------*/
.hum_nav.on {
  visibility: inherit;
  opacity: 1;
}

/*----------------------  
クリックしたらのleft_hdrの動き
----------------------*/
.left_hdr.on {
  background: none !important;
}

.left_hdr.on nav.on {
  opacity: 0;
}
