/*--------
hdr_main
--------*/
.hdr_main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*--------
  hum_btn
  --------*/
}

@media (max-width: 850px) {
  .hdr_main {
    padding: 0 20px;
  }
}

.hdr_main::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background: #111;
  opacity: .1;
}

.hdr_main h1 a {
  padding: 20px 5px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
}

.hdr_main nav {
  max-width: 500px;
  width: 100%;
}

@media (max-width: 850px) {
  .hdr_main nav {
    display: none;
  }
}

.hdr_main nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hdr_main nav ul li a {
  position: relative;
  margin: 0 2px;
  padding: 20px;
  height: 60px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.hdr_main .hum_btn {
  display: none;
}

@media (max-width: 850px) {
  .hdr_main .hum_btn {
    padding: 11px 4px;
    width: 50px;
    height: 50px;
    display: block;
  }
}

.hdr_main .hum_btn .in {
  position: relative;
  width: 100%;
  height: 100%;
}

.hdr_main .hum_btn .in div {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 3px;
  background: #fff;
}

.hdr_main .hum_btn .in div:nth-of-type(1) {
  top: 0;
  left: 0;
}

.hdr_main .hum_btn .in div:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  width: 75%;
}

.hdr_main .hum_btn .in div:nth-of-type(3) {
  bottom: 0;
  right: 0;
  width: 50%;
}

/*----------------
wrapper_07-1-design
----------------*/
.wrapper_07-1-design {
  margin: 0 auto;
  width: 100%;
  /*--------
  main_v
  --------*/
  /*--------
  cont_01
  --------*/
  /*--------
  cont_02
  --------*/
}

.wrapper_07-1-design .main_v {
  position: relative;
  width: 100%;
  height: 85vh;
}

.wrapper_07-1-design .main_v figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper_07-1-design .main_v figure::before {
  padding-top: 100%;
  content: "";
  display: block;
}

.wrapper_07-1-design .main_v figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper_07-1-design .main_v .in {
  position: relative;
  position: absolute;
  top: 34%;
  right: 7%;
  z-index: 1;
  padding: 20px 40px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

@media (max-width: 850px) {
  .wrapper_07-1-design .main_v .in {
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    max-width: 300px;
  }
}

.wrapper_07-1-design .main_v .in::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 50%;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: .6;
  background: #fff;
}

.wrapper_07-1-design .main_v .in h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #111;
}

@media (max-width: 850px) {
  .wrapper_07-1-design .main_v .in h1 {
    font-size: 20px;
  }
}

.wrapper_07-1-design .main_v .in p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  color: #111;
}

@media (max-width: 850px) {
  .wrapper_07-1-design .main_v .in p {
    font-size: 16px;
  }
}

.wrapper_07-1-design .main_v .in .btn {
  padding: 5px 30px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #111;
  border-radius: 50px;
  color: #111;
}

.wrapper_07-1-design .main_v .in .btn:hover {
  color: #df5020;
  border: 2px solid #df5020;
  font-weight: 700;
}

@media (max-width: 850px) {
  .wrapper_07-1-design .main_v .in .btn {
    padding: 5px 15px;
    font-size: 16px;
  }
}

.wrapper_07-1-design .cont_01 {
  margin: 0 auto;
  padding: 70px 40px;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: #fff;
}

@media (max-width: 600px) {
  .wrapper_07-1-design .cont_01 {
    padding: 40px;
  }
}

.wrapper_07-1-design .cont_01 section {
  padding: 40px 20px;
  max-width: 260px;
  width: 100%;
  color: #333;
  text-align: center;
}

.wrapper_07-1-design .cont_01 section i {
  margin-bottom: 20px;
  display: block;
  font-size: 24px;
}

.wrapper_07-1-design .cont_01 section h1 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

.wrapper_07-1-design .cont_01 section p {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 300;
}

.wrapper_07-1-design .cont_02 {
  margin: 0 auto;
  width: 100%;
}

.wrapper_07-1-design .cont_02 .frame {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.wrapper_07-1-design .cont_02 .frame section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #f9f6f0;
}

.wrapper_07-1-design .cont_02 .frame section .cont_text {
  padding: 20px;
  width: 50%;
}

@media (max-width: 600px) {
  .wrapper_07-1-design .cont_02 .frame section .cont_text {
    padding: 10px;
  }
}

.wrapper_07-1-design .cont_02 .frame section .cont_text .in {
  margin: 0 auto;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

@media (max-width: 450px) {
  .wrapper_07-1-design .cont_02 .frame section .cont_text .in {
    padding: 15px 10px 0 10px;
  }
}

.wrapper_07-1-design .cont_02 .frame section .cont_text .in h1 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .wrapper_07-1-design .cont_02 .frame section .cont_text .in h1 {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .wrapper_07-1-design .cont_02 .frame section .cont_text .in h1 {
    font-size: 14px;
  }
}

.wrapper_07-1-design .cont_02 .frame section .cont_text .in p {
  margin-bottom: 15px;
  color: #333;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}

@media (max-width: 600px) {
  .wrapper_07-1-design .cont_02 .frame section .cont_text .in p {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.3em;
  }
}

@media (max-width: 450px) {
  .wrapper_07-1-design .cont_02 .frame section .cont_text .in p {
    font-size: 12px;
  }
}

.wrapper_07-1-design .cont_02 .frame section .cont_text .in .btn i {
  color: #333;
  padding: 20px;
  display: block;
  font-size: 16px;
}

.wrapper_07-1-design .cont_02 .frame section .cont_text .in .btn i:hover {
  color: #df5020;
  transform: scale(1.3);
}

@media (max-width: 600px) {
  .wrapper_07-1-design .cont_02 .frame section .cont_text .in .btn i {
    padding: 15px;
  }
}

.wrapper_07-1-design .cont_02 .frame section .cont_img {
  width: 50%;
  height: 100%;
  background: #eee;
}

.wrapper_07-1-design .cont_02 .frame section .cont_img figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper_07-1-design .cont_02 .frame section .cont_img figure::before {
  padding-top: 100%;
  content: "";
  display: block;
}

.wrapper_07-1-design .cont_02 .frame section .cont_img figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--------
footer
--------*/
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

footer small {
  padding: 10px 20px;
  max-width: 340px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: .02em;
  color: #111;
}

@media (max-width: 450px) {
  footer small {
    padding: 12px 20px;
    font-size: 12px;
  }
}
