@charset "UTF-8";
/*------------  
works_02
------------*/
#hdr_main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 0 0 20px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

#hdr_main .logo a {
  padding: 10px 5px;
  display: block;
  color: #111;
  font-size: 36px;
  font-weight: bold;
  transition: .3s;
}

#hdr_main .logo a:hover {
  color: #aaa;
}

#hdr_main nav {
  max-width: 700px;
  width: 100%;
  height: 100%;
}

#hdr_main nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#hdr_main nav ul li {
  position: relative;
  width: 100%;
}

#hdr_main nav ul li:nth-of-type(5) {
  background: #111;
}

#hdr_main nav ul li:nth-of-type(5) a {
  color: #fff;
}

#hdr_main nav ul li:nth-of-type(6) {
  background: #222;
}

#hdr_main nav ul li:nth-of-type(6) a {
  color: #fff;
}

#hdr_main nav ul li a {
  position: relative;
  padding: 20px 10px;
  width: 100%;
  display: block;
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition: .3s;
}

#hdr_main nav ul li a:hover {
  color: #aaa;
}

#hdr_main nav ul li a:hover::before {
  width: 60%;
  display: block;
  opacity: 1;
}

#hdr_main nav ul li a::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  height: 1px;
  width: 0;
  background: #111;
  opacity: 0;
  transition: .3s;
}

#wrapper_main {
  margin: 0 auto;
  width: 100%;
}

#wrapper_main #works_person {
  margin: 80px auto 0 auto;
  width: 100%;
  font-family: "Kosugi", sans-serif;
  font-family: "Poppins", sans-serif;
}

#wrapper_main #works_person .cont_person {
  margin: 0 auto;
  padding: 70px 20px;
  max-width: 1300px;
  width: 100%;
  /*---  タイトル ---*/
}

@media (max-width: 970px) {
  #wrapper_main #works_person .cont_person {
    padding: 80px 20px;
  }
}

@media (max-width: 600px) {
  #wrapper_main #works_person .cont_person {
    padding: 60px 0;
  }
}

#wrapper_main #works_person .cont_person header {
  padding: 0 20px;
}

#wrapper_main #works_person .cont_person header h1 {
  font-size: 120px;
  letter-spacing: -0.07em;
}

@media (max-width: 600px) {
  #wrapper_main #works_person .cont_person header h1 {
    font-size: 90px;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_person .cont_person header h1 {
    font-size: 85px;
  }
}

#wrapper_main #works_person .cont_person .frame {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px 40px;
  /*---  コンテンツ ---*/
}

@media (max-width: 970px) {
  #wrapper_main #works_person .cont_person .frame {
    margin-top: 150px;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px 0;
  }
}

@media (max-width: 700px) {
  #wrapper_main #works_person .cont_person .frame {
    gap: 60px 0;
    margin-top: 60px;
  }
}

@media (max-width: 700px) {
  #wrapper_main #works_person .cont_person .frame {
    gap: 30px 0;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_person .cont_person .frame {
    margin-top: 50px;
  }
}

#wrapper_main #works_person .cont_person .frame section {
  padding: 10px;
  max-width: 1260px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0 10px;
}

@media (max-width: 970px) {
  #wrapper_main #works_person .cont_person .frame section {
    gap: 0 20px;
  }
  #wrapper_main #works_person .cont_person .frame section:nth-of-type(2n) .person_ttl {
    order: 2;
  }
  #wrapper_main #works_person .cont_person .frame section:nth-of-type(2n) .person_img {
    order: 1;
  }
}

@media (max-width: 769px) {
  #wrapper_main #works_person .cont_person .frame section {
    gap: 0 10px;
  }
}

#wrapper_main #works_person .cont_person .frame section .person_ttl {
  position: relative;
  width: 46%;
}

@media (max-width: 970px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl {
    padding: 5px;
    max-width: 320px;
    width: 100%;
  }
}

@media (max-width: 769px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl {
    max-width: 260px;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl {
    font-size: 85px;
  }
}

#wrapper_main #works_person .cont_person .frame section .person_ttl::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 35%;
  height: 5px;
  display: block;
  background: #111;
}

@media (max-width: 600px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl::after {
    width: 30%;
    height: 4px;
  }
}

#wrapper_main #works_person .cont_person .frame section .person_ttl h2 {
  font-size: 120px;
  letter-spacing: -0.08em;
}

@media (max-width: 970px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl h2 {
    font-size: 130px;
  }
}

@media (max-width: 700px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl h2 {
    font-size: 110px;
  }
}

@media (max-width: 600px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl h2 {
    font-size: 90px;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl h2 {
    font-size: 85px;
  }
}

#wrapper_main #works_person .cont_person .frame section .person_ttl h3 {
  margin: 60px 0 10px 0;
  font-size: 38px;
  font-weight: bold;
}

@media (max-width: 970px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl h3 {
    font-size: 60px;
  }
}

@media (max-width: 700px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl h3 {
    margin: 25px 0 10px 0;
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl h3 {
    margin: 15px 0;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl h3 {
    font-size: 32px;
  }
}

#wrapper_main #works_person .cont_person .frame section .person_ttl p {
  margin-bottom: 65px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: -1px;
}

@media (max-width: 970px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl p {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl p {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_person .cont_person .frame section .person_ttl p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

#wrapper_main #works_person .cont_person .frame section .person_img {
  position: relative;
  width: 54%;
  height: 100%;
}

@media (max-width: 970px) {
  #wrapper_main #works_person .cont_person .frame section .person_img {
    padding: 5px;
    max-width: 500px;
    width: 100%;
  }
}

#wrapper_main #works_person .cont_person .frame section .person_img figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#wrapper_main #works_person .cont_person .frame section .person_img figure::before {
  padding-top: 100%;
  content: "";
  display: block;
}

@media (max-width: 450px) {
  #wrapper_main #works_person .cont_person .frame section .person_img figure::before {
    padding-top: 70%;
  }
}

#wrapper_main #works_person .cont_person .frame section .person_img figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#wrapper_main #works_project {
  margin: 80px auto 0 auto;
  width: 100%;
  font-family: "Kosugi", sans-serif;
  font-family: "Poppins", sans-serif;
}

#wrapper_main #works_project .cont_project {
  margin: 0 auto;
  padding: 70px 20px;
  max-width: 1300px;
  width: 100%;
  /*---  タイトル ---*/
}

@media (max-width: 970px) {
  #wrapper_main #works_project .cont_project {
    padding: 80px 20px;
  }
}

@media (max-width: 600px) {
  #wrapper_main #works_project .cont_project {
    padding: 60px 0;
  }
}

#wrapper_main #works_project .cont_project header {
  padding: 0 20px;
}

#wrapper_main #works_project .cont_project header h1 {
  font-size: 120px;
  letter-spacing: -0.07em;
}

@media (max-width: 600px) {
  #wrapper_main #works_project .cont_project header h1 {
    font-size: 90px;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_project .cont_project header h1 {
    font-size: 85px;
  }
}

#wrapper_main #works_project .cont_project .frame {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 180px 20px;
  /*---  コンテンツ ---*/
}

@media (max-width: 970px) {
  #wrapper_main #works_project .cont_project .frame {
    margin-top: 150px;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px 0;
  }
}

@media (max-width: 700px) {
  #wrapper_main #works_project .cont_project .frame {
    gap: 60px 0;
    margin-top: 60px;
  }
}

@media (max-width: 700px) {
  #wrapper_main #works_project .cont_project .frame {
    gap: 30px 0;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_project .cont_project .frame {
    margin-top: 50px;
  }
}

#wrapper_main #works_project .cont_project .frame section {
  padding: 10px;
  max-width: 1260px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0 10px;
}

@media (max-width: 970px) {
  #wrapper_main #works_project .cont_project .frame section {
    gap: 0 20px;
  }
}

@media (max-width: 769px) {
  #wrapper_main #works_project .cont_project .frame section {
    gap: 0 10px;
  }
}

#wrapper_main #works_project .cont_project .frame section .project_img {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

@media (max-width: 970px) {
  #wrapper_main #works_project .cont_project .frame section .project_img {
    padding: 5px;
    max-width: 500px;
    width: 100%;
  }
}

#wrapper_main #works_project .cont_project .frame section .project_img figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#wrapper_main #works_project .cont_project .frame section .project_img figure::before {
  padding-top: 40%;
  content: "";
  display: block;
}

@media (max-width: 450px) {
  #wrapper_main #works_project .cont_project .frame section .project_img figure::before {
    padding-top: 70%;
  }
}

#wrapper_main #works_project .cont_project .frame section .project_img figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#wrapper_main #works_project .cont_project .frame section .project_ttl {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
}

@media (max-width: 769px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl {
    max-width: 260px;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl {
    font-size: 85px;
  }
}

#wrapper_main #works_project .cont_project .frame section .project_ttl h2 {
  font-size: 120px;
  letter-spacing: -0.08em;
}

@media (max-width: 970px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl h2 {
    font-size: 130px;
  }
}

@media (max-width: 700px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl h2 {
    font-size: 110px;
  }
}

@media (max-width: 600px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl h2 {
    font-size: 90px;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl h2 {
    font-size: 85px;
  }
}

#wrapper_main #works_project .cont_project .frame section .project_ttl h3 {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 970px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl h3 {
    font-size: 60px;
  }
}

@media (max-width: 700px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl h3 {
    margin: 25px 0 10px 0;
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl h3 {
    margin: 15px 0;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl h3 {
    font-size: 32px;
  }
}

#wrapper_main #works_project .cont_project .frame section .project_ttl h3 span {
  font-size: 20px;
  font-weight: 400;
  line-height: .8em;
  letter-spacing: -1px;
}

@media (max-width: 970px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl h3 span {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl h3 span {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  #wrapper_main #works_project .cont_project .frame section .project_ttl h3 span {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
